[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/implot"]
	path = extern/implot
	url = https://github.com/epezent/implot
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/simde"]
	path = extern/simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "extern/SDL3"]
	path = extern/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/SDL_mixer"]
	path = extern/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "extern/VMA"]
	path = extern/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/D3D12MA"]
	path = extern/D3D12MA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/ddspp"]
	path = extern/ddspp
	url = https://github.com/redorav/ddspp.git
[submodule "extern/tomlplusplus"]
	path = extern/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "extern/ankerl-unordered_dense"]
	path = extern/ankerl-unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "extern/xxHash"]
	path = extern/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "extern/nativefiledialog-extended"]
	path = extern/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "extern/tiny-AES-c"]
	path = extern/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "extern/libmspack"]
	path = extern/libmspack
	url = https://github.com/kyz/libmspack.git
[submodule "extern/msdf-atlas-gen"]
	path = extern/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
