[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/tomlplusplus"]
	path = thirdparty/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "thirdparty/libmspack"]
	path = thirdparty/libmspack
	url = https://github.com/kyz/libmspack
[submodule "thirdparty/tiny-AES-c"]
	path = thirdparty/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "thirdparty/simde"]
	path = thirdparty/simde
	url = https://github.com/simd-everywhere/simde-no-tests.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/implot"]
	path = extern/implot
	url = https://github.com/epezent/implot
[submodule "extern/toml11"]
	path = extern/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
